.contact__container{
  padding-top: 150px;
  padding-bottom: 150px;
}
.content__info--light{
  max-width: 28%;
  background: rgb(71, 0, 83);
  height: 550px;
  padding: 30px;
  position: absolute;
  z-index: 1;
  top: calc(10% - -147px);
}
.content__info--dark{
  max-width: 28%;
  background: rgb(32, 0, 38);
  height: 550px;
  padding: 30px;
  position: absolute;
  z-index: 1;
  top: calc(10% - -147px);
}
.content__title{
  font-size: 30px;
  -webkit-text-stroke: 2px #fff;
  color: rgb(255, 0, 251);
}
.content__text{
  font-size: 19px;
  color: #fff;
}
.content__admin{
  color: #fff;
}
.content__link{
  text-decoration: none;
  color: blue;
}
.content__span{
  color: rgb(107, 107, 255);
}
.warning{
  font-size: 30px;
  font-weight: 900;
  color: red;
}
.contact__light{
  background-color: purple;
  max-width: 80%;
  height: 600px;
  padding: 90px;
  margin-top: 70px;
  margin-left: 200px;
}
.contact__dark{
  background-color: rgb(71, 0, 83);
  max-width: 80%;
  height: 600px;
  padding: 90px;
  margin-top: 70px;
  margin-left: 200px;
}
.contact__title{
  -webkit-text-stroke: 1px rgb(198, 47, 198);
  color: #fff;
  font-size: 30px;
  margin-left: 300px;
  margin-bottom: 70px;
}
.form{
  padding-left: 300px;
}
input{
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  outline: none;
  font-size: 15px;
  padding: 0px 5px;
  margin-top: 20px;
  background: none;
}

#label{
  color: #fff;
}
.flex__content{
  display: flex;
}
#userName{
  margin-right: 100px;
}
#userCourse{
  margin-top: 15px;
  width: 480px;
  height: 30px;
  padding: 0 10px;
  outline: green;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-bottom: 20px;
}
#massage{
  margin-top: 20px;
  border: none;
  height: 20px;
  outline: none;
  font-size: 15px;
  resize: none;
  background: none;
  border-bottom: 2px solid #fff;
  overflow: hidden;
  color: #fff;
}
.contact__btn{
  border: 2px solid rgb(155, 1, 155);
  border-radius: 10px;
  padding: 10px 20px;
  background-color: rgb(168, 0, 168);
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  margin-top: 25px;
}
.admin__btn{
  position: absolute;
  left: calc(50% - -210px);
  top: calc(10% - -395px);
  border: 2px solid rgb(155, 1, 155);
  border-radius: 15px;
  color: #fefefe;
  padding: 10px 20px;
  background-color: rgb(168, 0, 168);
  font-size: 15px;
  outline: none;
  cursor: pointer;
}