.header__light{
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(162, 89, 255, 0)), to(#d900ff));
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.header__dark{
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(162, 89, 255, 0)), to(#8a00a2));
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

img {
    object-fit: cover;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    width: 460px;
}
.header__item{
    margin-right: 50px;
}
.header__item:last-child {
    margin-right: 0;
}
.header__link--light{
    text-decoration: none;
    color: rgb(150, 33, 150);    
}
.header__link--dark{
    text-decoration: none;
    color: rgb(255, 222, 255);    
}
.header__link2{
    text-decoration: none;
    border: 1px solid purple;
    background-color: purple;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.5s ease all;
    width: 170px;
    display: block;
    text-align: center;
}
.header__link2:hover {
    background: none;
}
.header__link2:active{
    transition: none;
    background-color: purple;
    color: #fff;
}
.select__div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}